<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thimeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録画面</title>
</head>
<body>
    <h1>以下の情報で登録完了しました</h1>
    <hr>

    名前:<span th:text="${session.User.name}">dummy</span><br>
    メールアドレス:<span th:text="${session.User.adless}">dummy</span><br>
    性別:<span th:text="${session.User.genderString}">dummy</span><br>

    <form action="advanceForm.html" th:action="@{/User}" method="post">
    <button>戻る</button>
    </form>
    
</body>
</html>