<!DOCTYPE html>
<html lang="ja"xmlns:th="http://www.thimeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mathForm</title>
</head>
<body>
    <h2>計算するよ!</h2>

    <form action="mathFinish.html" th:action="@{/math1/math2}" method="post">
        数字1:<input type="text" name="num1">
	 			
        <select name = "numkind">
         <option value = "add" selected>+</option>
         <option value = "sub" selected>-</option>
         <option value = "multi" selected>×</option>
         <option value = "div" selected>÷</option> 
         </select>
         
        数字2:<input type="text" name="num2">
        
        <input type="submit" value="送信">	
    </form>
    </form>
</body>
</html>